*{padding: 0; margin: 0; box-sizing:border-box}

header{
  margin: 30px 0;
}

header h1{
  margin-bottom: 30px;
}

header div{
  text-align: center;
}

#griglia{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 0 auto;
}

.quadrato{
  border: 1px solid black;
  width: calc(100%/10);
  aspect-ratio: 1/1;
}

.bomba{
  background-color: lightcoral;
}

.salvo{
  background-color: lightblue;
}

#punteggio{
  text-align: center;
  margin: 30px 0;
}
