*{padding: 0; margin: 0; box-sizing:border-box}

#griglia{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

.quadrato{
  border: 1px solid black;
  width: calc(100%/10);
  aspect-ratio: 1/1;
}

.active{
  background-color: lightcoral;
}
